In [1]:
#Import Pandas
import pandas as pd

#Import datetime
import datetime

In [2]:
#get the file
covidcases_df = "https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv"

In [3]:
#read the data file
df_covidcases = pd.read_csv(covidcases_df)

In [4]:
df_covidcases.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1     0.0
1  2020-01-22  Snohomish  Washington  53061.0      1     0.0
2  2020-01-23  Snohomish  Washington  53061.0      1     0.0
3  2020-01-24       Cook    Illinois  17031.0      1     0.0
4  2020-01-24  Snohomish  Washington  53061.0      1     0.0

In [5]:
df_covidcases = df_covidcases.loc[df_covidcases["state"] == "New York",:].reset_index(drop=True)

In [6]:
df_covidcases.head(30)

          date         county     state     fips  cases  deaths
0   2020-03-01  New York City  New York      NaN      1     0.0
1   2020-03-02  New York City  New York      NaN      1     0.0
2   2020-03-03  New York City  New York      NaN      2     0.0
3   2020-03-04  New York City  New York      NaN      2     0.0
4   2020-03-04    Westchester  New York  36119.0      9     0.0
5   2020-03-05         Nassau  New York  36059.0      1     0.0
6   2020-03-05  New York City  New York      NaN      4     0.0
7   2020-03-05    Westchester  New York  36119.0     17     0.0
8   2020-03-06         Nassau  New York  36059.0      4     0.0
9   2020-03-06  New York City  New York      NaN      5     0.0
10  2020-03-06       Rockland  New York  36087.0      2     0.0
11  2020-03-06    Westchester  New York  36119.0     33     0.0
12  2020-03-07         Nassau  New York  36059.0      4     0.0
13  2020-03-07  New York City  New York      NaN     12     0.0
14  2020-03-07       Rockland  New York  36087.0      2     0.0
15  2020-03-07       Saratoga  New York  36091.0      2     0.0
16  2020-03-07    Westchester  New York  36119.0     69     0.0
17  2020-03-08         Nassau  New York  36059.0      5     0.0
18  2020-03-08  New York City  New York      NaN     14     0.0
19  2020-03-08       Rockland  New York  36087.0      2     0.0
20  2020-03-08       Saratoga  New York  36091.0      2     0.0
21  2020-03-08        Suffolk  New York  36103.0      1     0.0
22  2020-03-08         Ulster  New York  36111.0      1     0.0
23  2020-03-08    Westchester  New York  36119.0     81     0.0
24  2020-03-09         Nassau  New York  36059.0     17     0.0
25  2020-03-09  New York City  New York      NaN     20     0.0
26  2020-03-09       Rockland  New York  36087.0      4     0.0
27  2020-03-09       Saratoga  New York  36091.0      2     0.0
28  2020-03-09        Suffolk  New York  36103.0      1     0.0
29  2020-03-09         Ulster  New York  36111.0      1     0.0

In [7]:
print(df_covidcases.dtypes)

date       object
county     object
state      object
fips      float64
cases       int64
deaths    float64
dtype: object

In [8]:
df_covidcases["date"] = pd.to_datetime(df_covidcases["date"])

In [9]:
print(df_covidcases.dtypes)

date      datetime64[ns]
county            object
state             object
fips             float64
cases              int64
deaths           float64
dtype: object

In [10]:
start_date = '2020-09-30'
end_date = '2021-01-31'
mask = (df_covidcases["date"] >= start_date) & (df_covidcases["date"] <= end_date)

In [11]:
df_covidcases = df_covidcases.loc[mask].sort_values(["county", "date"], ascending = (True, True))
df_covidcases.head(20)

            date  county     state     fips  cases  deaths
11414 2020-09-30  Albany  New York  36001.0   3120   123.0
11472 2020-10-01  Albany  New York  36001.0   3133   123.0
11530 2020-10-02  Albany  New York  36001.0   3153   123.0
11588 2020-10-03  Albany  New York  36001.0   3175   123.0
11646 2020-10-04  Albany  New York  36001.0   3190   123.0
11704 2020-10-05  Albany  New York  36001.0   3201   123.0
11762 2020-10-06  Albany  New York  36001.0   3218   123.0
11820 2020-10-07  Albany  New York  36001.0   3233   123.0
11878 2020-10-08  Albany  New York  36001.0   3251   123.0
11936 2020-10-09  Albany  New York  36001.0   3268   123.0
11994 2020-10-10  Albany  New York  36001.0   3280   124.0
12052 2020-10-11  Albany  New York  36001.0   3293   124.0
12110 2020-10-12  Albany  New York  36001.0   3304   124.0
12168 2020-10-13  Albany  New York  36001.0   3324   124.0
12226 2020-10-14  Albany  New York  36001.0   3343   124.0
12284 2020-10-15  Albany  New York  36001.0   3369   124.0
12342 2020-10-16  Albany  New York  36001.0   3383   124.0
12400 2020-10-17  Albany  New York  36001.0   3398   124.0
12458 2020-10-18  Albany  New York  36001.0   3416   124.0
12516 2020-10-19  Albany  New York  36001.0   3427   126.0

In [12]:
df_covidcases["country"] = df_covidcases["county"] + ", " + df_covidcases["state"]
df_covidcases.head(20)

            date  county     state     fips  cases  deaths           country
11414 2020-09-30  Albany  New York  36001.0   3120   123.0  Albany, New York
11472 2020-10-01  Albany  New York  36001.0   3133   123.0  Albany, New York
11530 2020-10-02  Albany  New York  36001.0   3153   123.0  Albany, New York
11588 2020-10-03  Albany  New York  36001.0   3175   123.0  Albany, New York
11646 2020-10-04  Albany  New York  36001.0   3190   123.0  Albany, New York
11704 2020-10-05  Albany  New York  36001.0   3201   123.0  Albany, New York
11762 2020-10-06  Albany  New York  36001.0   3218   123.0  Albany, New York
11820 2020-10-07  Albany  New York  36001.0   3233   123.0  Albany, New York
11878 2020-10-08  Albany  New York  36001.0   3251   123.0  Albany, New York
11936 2020-10-09  Albany  New York  36001.0   3268   123.0  Albany, New York
11994 2020-10-10  Albany  New York  36001.0   3280   124.0  Albany, New York
12052 2020-10-11  Albany  New York  36001.0   3293   124.0  Albany, New York
12110 2020-10-12  Albany  New York  36001.0   3304   124.0  Albany, New York
12168 2020-10-13  Albany  New York  36001.0   3324   124.0  Albany, New York
12226 2020-10-14  Albany  New York  36001.0   3343   124.0  Albany, New York
12284 2020-10-15  Albany  New York  36001.0   3369   124.0  Albany, New York
12342 2020-10-16  Albany  New York  36001.0   3383   124.0  Albany, New York
12400 2020-10-17  Albany  New York  36001.0   3398   124.0  Albany, New York
12458 2020-10-18  Albany  New York  36001.0   3416   124.0  Albany, New York
12516 2020-10-19  Albany  New York  36001.0   3427   126.0  Albany, New York

In [13]:
df_covidcases["cases_per_day"] = df_covidcases["cases"].diff();
df_covidcases.head()

,date,county,state,fips,cases,deaths,country,cases_per_day
11414,2020-09-30,Albany,New York,36001.0,3120,123.0,"Albany, New York",NaN
11472,2020-10-01,Albany,New York,36001.0,3133,123.0,"Albany, New York",13.0
11530,2020-10-02,Albany,New York,36001.0,3153,123.0,"Albany, New York",20.0
11588,2020-10-03,Albany,New York,36001.0,3175,123.0,"Albany, New York",22.0
11646,2020-10-04,Albany,New York,36001.0,3190,123.0,"Albany, New York",15.0

In [14]:
start_date = '2020-10-01'
end_date = '2021-01-31'
mask = (df_covidcases["date"] >= start_date) & (df_covidcases["date"] <= end_date)

In [15]:
df_covidcases = df_covidcases.loc[mask].reset_index(drop=True)
df_covidcases.head(20)

,date,county,state,fips,cases,deaths,country,cases_per_day
0,2020-10-01,Albany,New York,36001.0,3133,123.0,"Albany, New York",13.0
1,2020-10-02,Albany,New York,36001.0,3153,123.0,"Albany, New York",20.0
2,2020-10-03,Albany,New York,36001.0,3175,123.0,"Albany, New York",22.0
3,2020-10-04,Albany,New York,36001.0,3190,123.0,"Albany, New York",15.0
4,2020-10-05,Albany,New York,36001.0,3201,123.0,"Albany, New York",11.0
5,2020-10-06,Albany,New York,36001.0,3218,123.0,"Albany, New York",17.0
6,2020-10-07,Albany,New York,36001.0,3233,123.0,"Albany, New York",15.0
7,2020-10-08,Albany,New York,36001.0,3251,123.0,"Albany, New York",18.0
8,2020-10-09,Albany,New York,36001.0,3268,123.0,"Albany, New York",17.0
9,2020-10-10,Albany,New York,36001.0,3280,124.0,"Albany, New York",12.0
10,2020-10-11,Albany,New York,36001.0,3293,124.0,"Albany, New York",13.0
11,2020-10-12,Albany,New York,36001.0,3304,124.0,"Albany, New York",11.0
12,2020-10-13,Albany,New York,36001.0,3324,124.0,"Albany, New York",20.0
13,2020-10-14,Albany,New York,36001.0,3343,124.0,"Albany, New York",19.0
14,2020-10-15,Albany,New York,36001.0,3369,124.0,"Albany, New York",26.0
15,2020-10-16,Albany,New York,36001.0,3383,124.0,"Albany, New York",14.0
16,2020-10-17,Albany,New York,36001.0,3398,124.0,"Albany, New York",15.0
17,2020-10-18,Albany,New York,36001.0,3416,124.0,"Albany, New York",18.0
18,2020-10-19,Albany,New York,36001.0,3427,126.0,"Albany, New York",11.0
19,2020-10-20,Albany,New York,36001.0,3436,126.0,"Albany, New York",9.0

In [16]:
# #run this query and export to csv
# # Dependencies
# import requests
# import json
# import gmaps

# # Google developer API key
# from api_keys import g_key

# lat= []
# lon =[]

# countries = df_covidcases["country"]

# #processing starting from 0
# count = 1

# # use iterrows to iterate through pandas dataframe
# for country in countries:

#     try:
#         # Target city
#         target_city = country

#         # Build the endpoint URL
#         target_url = ('https://maps.googleapis.com/maps/api/geocode/json?address={0}&key={1}').format(target_city, g_key)

#         # Run a request to endpoint and convert result to json
#         geo_data = requests.get(target_url).json()

        
#         # Extract latitude and longitude
#         lat.append(geo_data["results"][0]["geometry"]["location"]["lat"])
#         lon.append(geo_data["results"][0]["geometry"]["location"]["lng"])
#         #top_10_df_2015['Lat'] = geo_data["results"][0]["geometry"]["location"]["lat"]
#         #top_10_df_2015['Lon'] = geo_data["results"][0]["geometry"]["location"]["lng"]
        
#         #loop to the next one
#         count += 1
        
#     except (KeyError, IndexError):
#         print("Missing field/result... skipping.")
        
#     #print("------------")

In [17]:
# df_covidcases["lat"] = lat
# df_covidcases["lon"] = lon

In [18]:
# df_covidcases.to_csv('data\secondwavemap.csv')

In [19]:
#get the file
secondwave_df = "data/secondwavemap.csv"

In [20]:
#read the data file
df_secondwave = pd.read_csv(secondwave_df)

In [21]:
df_secondwave.head(15)

,Unnamed: 0,date,county,state,fips,cases,deaths,country,cases_per_day,lat,lon
0,0,2020-10-01,Albany,New York,36001.0,3133,123.0,"Albany, New York",13.0,42.652579,-73.756232
1,1,2020-10-02,Albany,New York,36001.0,3153,123.0,"Albany, New York",20.0,42.652579,-73.756232
2,2,2020-10-03,Albany,New York,36001.0,3175,123.0,"Albany, New York",22.0,42.652579,-73.756232
3,3,2020-10-04,Albany,New York,36001.0,3190,123.0,"Albany, New York",15.0,42.652579,-73.756232
4,4,2020-10-05,Albany,New York,36001.0,3201,123.0,"Albany, New York",11.0,42.652579,-73.756232
5,5,2020-10-06,Albany,New York,36001.0,3218,123.0,"Albany, New York",17.0,42.652579,-73.756232
6,6,2020-10-07,Albany,New York,36001.0,3233,123.0,"Albany, New York",15.0,42.652579,-73.756232
7,7,2020-10-08,Albany,New York,36001.0,3251,123.0,"Albany, New York",18.0,42.652579,-73.756232
8,8,2020-10-09,Albany,New York,36001.0,3268,123.0,"Albany, New York",17.0,42.652579,-73.756232
9,9,2020-10-10,Albany,New York,36001.0,3280,124.0,"Albany, New York",12.0,42.652579,-73.756232
10,10,2020-10-11,Albany,New York,36001.0,3293,124.0,"Albany, New York",13.0,42.652579,-73.756232
11,11,2020-10-12,Albany,New York,36001.0,3304,124.0,"Albany, New York",11.0,42.652579,-73.756232
12,12,2020-10-13,Albany,New York,36001.0,3324,124.0,"Albany, New York",20.0,42.652579,-73.756232
13,13,2020-10-14,Albany,New York,36001.0,3343,124.0,"Albany, New York",19.0,42.652579,-73.756232
14,14,2020-10-15,Albany,New York,36001.0,3369,124.0,"Albany, New York",26.0,42.652579,-73.756232

In [22]:
df_secondwave=df_secondwave.filter(items=['date', 'cases_per_day','lat','lon'])
df_secondwave.head(30)

          date  cases_per_day        lat        lon
0   2020-10-01           13.0  42.652579 -73.756232
1   2020-10-02           20.0  42.652579 -73.756232
2   2020-10-03           22.0  42.652579 -73.756232
3   2020-10-04           15.0  42.652579 -73.756232
4   2020-10-05           11.0  42.652579 -73.756232
5   2020-10-06           17.0  42.652579 -73.756232
6   2020-10-07           15.0  42.652579 -73.756232
7   2020-10-08           18.0  42.652579 -73.756232
8   2020-10-09           17.0  42.652579 -73.756232
9   2020-10-10           12.0  42.652579 -73.756232
10  2020-10-11           13.0  42.652579 -73.756232
11  2020-10-12           11.0  42.652579 -73.756232
12  2020-10-13           20.0  42.652579 -73.756232
13  2020-10-14           19.0  42.652579 -73.756232
14  2020-10-15           26.0  42.652579 -73.756232
15  2020-10-16           14.0  42.652579 -73.756232
16  2020-10-17           15.0  42.652579 -73.756232
17  2020-10-18           18.0  42.652579 -73.756232
18  2020-10-19           11.0  42.652579 -73.756232
19  2020-10-20            9.0  42.652579 -73.756232
20  2020-10-21           24.0  42.652579 -73.756232
21  2020-10-22           28.0  42.652579 -73.756232
22  2020-10-23           28.0  42.652579 -73.756232
23  2020-10-24           33.0  42.652579 -73.756232
24  2020-10-25           28.0  42.652579 -73.756232
25  2020-10-26           13.0  42.652579 -73.756232
26  2020-10-27           23.0  42.652579 -73.756232
27  2020-10-28           14.0  42.652579 -73.756232
28  2020-10-29           33.0  42.652579 -73.756232
29  2020-10-30           45.0  42.652579 -73.756232

In [23]:
df_secondwave["date"].count()

7134

In [24]:
df_secondwave.to_csv('data\secondwavecasecasemap.csv')

In [25]:
#get the file
oct_df = "data/202010-citibike-tripdata.csv"
nov_df = "data/202011-citibike-tripdata.csv"
dec_df = "data/202012-citibike-tripdata.csv"
jan_df = "data/202101-citibike-tripdata.csv"

In [26]:
#read the data file
df_oct = pd.read_csv(oct_df)
df_nov = pd.read_csv(nov_df)
df_dec = pd.read_csv(dec_df)
df_jan = pd.read_csv(jan_df)

In [27]:
#combine citibike dataframe
frames = [df_oct, df_nov, df_dec, df_jan]

In [28]:
citibike = pd.concat(frames)

In [29]:
citibike.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1403,2020-10-01 00:00:10.7870,2020-10-01 00:23:34.5400,224,Spruce St & Nassau St,40.711464,-74.005524,3347,Van Brunt St & Wolcott St,40.677343,-74.012751,39079,Subscriber,1995,1
1,462,2020-10-01 00:00:18.2390,2020-10-01 00:08:00.5710,3161,W 76 St & Columbus Ave,40.780184,-73.977285,3158,W 63 St & Broadway,40.771639,-73.982614,41267,Subscriber,1998,2
2,770,2020-10-01 00:00:21.3070,2020-10-01 00:13:12.0840,354,Emerson Pl & Myrtle Ave,40.693631,-73.962236,3761,Cedar St & Myrtle Ave,40.697842,-73.926241,47398,Customer,1996,1
3,233,2020-10-01 00:00:25.0080,2020-10-01 00:04:18.6410,3141,1 Ave & E 68 St,40.765005,-73.958185,464,E 56 St & 3 Ave,40.759345,-73.967597,36482,Subscriber,1993,1
4,126,2020-10-01 00:00:25.3100,2020-10-01 00:02:32.1330,335,Washington Pl & Broadway,40.729039,-73.994046,229,Great Jones St,40.727434,-73.993790,45319,Subscriber,1989,1

In [30]:
citibike["starttime"] = pd.to_datetime(citibike["starttime"])

In [31]:
citibike["date"] = citibike["starttime"].dt.date

In [32]:
citibike_by_date = citibike.groupby([citibike['date'],citibike['start station latitude'],citibike['start station longitude']]).starttime.count()

In [33]:
citibike_by_date = pd.DataFrame(citibike_by_date).reset_index()

In [34]:
citibike_by_date = citibike_by_date.rename(columns={"date": "date","start station latitude": "lat","start station longitude": "lon","starttime": "no_of_trip"})

In [35]:
citibike_by_date.head()

         date        lat        lon  no_of_trip
0  2020-10-01  40.655400 -74.010628          19
1  2020-10-01  40.657089 -74.008702          45
2  2020-10-01  40.661063 -73.979453         186
3  2020-10-01  40.662706 -73.956912          50
4  2020-10-01  40.663062 -73.953875          65

In [36]:
citibike_by_date.to_csv('data\secondwavetripmap.csv')